@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kameron&display=swap');
@media(device-width: 768px) and (device-height: 1024px){
  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}
* {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
:root {
  --main-bg-color: #3ad29f;
  --main-grey-color: #eaeaea;
}
#root {
  overflow-x: hidden;
}
.App {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
}
.avatar-style {
  display: block;
}

html,
body {
    overflow: hidden;
    position: relative;
    height: 100%;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.balance-title {
  font-style: italic;
  font-size: 24px;
  color: red;
  text-align: center;
}

.balance-value {
  font-style: italic;
  font-size: 18px;
  color: red;
  text-align: center;
}

.balance-card {
  margin-top: 20px;
  width: 60% !important; 
  margin-left: auto;
  margin-right: auto;
  border: 3px solid;
}

.app-heading {
  height: 60px;
  background-color: red;
  color: white;
  text-align: center;
  font-size: 1em;
}

.table-title {
  text-align: center;
  font-family: arial, sans-serif;
  margin-top: 20px;
}

.table-content {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.table-content td, .table-content th {
  border: 1px solid #ddd;
  padding: 4px;
}

.table-content tr:nth-child(even){background-color: #f2f2f2;}

.table-content tr:hover {background-color: #ddd;}

.table-content th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}
.card-issuer {
  background-color: white;
  color:#d12121;
  width: 50px;
  font-size: 15px;
  top: 20px;
  left: 20px;
  position: relative;
}
.card-number {
  color: white;
  left: -70px;
  position: relative;
  display: block;
  top: 60px;
  font-size: 18px;
  font-family: 'Kameron';
}
.card-type {
  color: white;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  position: relative;
  left: 80px;
  top: 50px;
}
.card-back-home {
  background-color: var(--main-bg-color);
  height: 60px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  line-height: 3;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.existing-cards {
   margin-top: 30px;
   max-height: 200px;
   overflow: scroll;
}
.card-item {
  text-align: center;
  margin-top: 20px;
  max-width: 246px;
  height: 143px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color:  #d12121;
}
.add-card-button {
  text-align: center;
  margin-top: 20px;
  max-width: 246px;
  height: 143px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color:  #eaeaea;
  border: 3px solid #ddd;
  color: var(--main-bg-color); 
  font-size: 90px;
  line-height: 1.5;
  cursor:pointer;
}

.add-card-form {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border:3px solid #ddd;
}
.add-card-form-field {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid var(--main-bg-color);
  margin-top: 10px;
  font-size: 16px;
  font-family: 'Kameron';
}

.logo-image {
  max-width: 250px;
  margin-bottom: 20px;
}
.logo-image-small {
  max-width: 150px;
}
.logo-header {
  top: 50px;
  left: 100px;
  position: fixed;
}
.signin-page-block {
  margin-top: 20vh;
  max-width: 400px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.signin-block {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}
.signin-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid var(--main-bg-color); 
  margin-top: 20px;
  font-family: 'Kameron';
}
.signin-lable {
  margin-left: 20px;
}
.signin-button {
  margin-top: 40px;
  margin-left: 50px; 
  padding: 10px 20px 10px;
  max-width: 200px;
  width: 60%;
  background-color: var(--main-bg-color);
  border: 2px solid var(--main-bg-color);
  border-radius: 50px;
  text-align: center;
  color: white;
  font-weight: 900; 
  cursor: pointer;
}
.hide-item {
  display: none;
}
.show-item {
  display: block;
}
.add-form-block {
  padding: 10px;
  max-width: 400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.load-wallet-form {
  padding: 10px;
  max-width: 400px;
  width: 80%;
  margin-left: auto;
  margin-right: auto; 
}
.load-wallet-value {
  border: 0;
  outline: 0;
  background: transparent;
  padding: 0px;
  margin: 0px;
  font-family: 'Kameron';
  font-size: 50px;
  width: 300px;
  flex-grow: 6;
  color:var(--main-bg-color);
}
.load-wallet-currency{
  font-size: 30px;
  flex-grow: 1;
  display: flex;
  line-height: 3;
  padding-right: 10px;
  color: var(--main-bg-color);
}
.load-wallet-submit {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 5px;
  border:3px solid red; 
  background-color: red;
  color: white;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80px;
  cursor: pointer;
}
.add-form-row {
  padding: 5px;
}
.error-message {
  background-color: red;
  color: white;
  text-align: center;
  width: 100%;
  max-width:400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.menu-item {
  color: black;
  background-color: white;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 20px;
  cursor: pointer;
  font-weight: bold;
  text-align: left;
}

.menu-item-header {
  color: black;
  background-color: white;
 
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: left;
  cursor: pointer;
 
  border: none !important;
}

.menu-itme-header-name {
  margin-left:10px;
  font-size: 22px;
  font-weight: bold;
}

.menu-item-header:hover {
  text-decoration: none; 
  color: black;
  cursor: default;
}

  .menu-item:hover {
    background-color: var(--main-bg-color);
    color: white;
    text-decoration: none;
  }

a { 
  text-decoration:none
  }
/* .menu-item a:hover {
  color: white;
  background-color: white;
} */

.category-separator {
  border: 1px solid #bfbfbf;
}
.summary-page {
  overflow-y: hidden; 
  overflow-x: hidden; 
}
/* balance section */
.balance-block {

  margin-top: 100px;
  width: 80%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  height: 170px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, #f5515f, #9f041b);
}
.balance-title {
  margin-left: 30px;
  padding-top: 15px;
  z-index: 2;
  height: 20px;
  font-size: 15px;
  color: white;
  text-align: left;
}
.balance-detail {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.balance-currency {
  font-size:30px;
  vertical-align:top;
  color: white;
  padding-right: 5px;
}
.balance-amount {
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.9;
    letter-spacing: normal;
    vertical-align: text-top;
    color: white;
    font-family: 'Kameron';
  }
/* transaction section */
.summary-nav-tab-block {
  font-size: 20px;
  color: white;
  background-color: var(--main-bg-color);
  height: 60px;
  margin-top: 20px;
  display: -webkit-flex; /* Safari */
  display: flex;
}
.summary-nav-tab-item {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  border-left: solid 2px;
  cursor: pointer;
  line-height: 3;
}
.summary-nav-tab-item-left {
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  line-height: 3;
}
.segment {
  height:30px;
  background-color:#bfbfbf;
  line-height: 2;
  text-indent: 30px;
  font-size: 15px;
}

/* burger menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 50px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background:white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
 .bm-item {
  display: inline-block;
} 
.bm-item:focus {
  outline: none !important;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* transfer money */
.transfer-money-header-init {
  position: fixed;
  width: 100%;
  height: 40px;
  background-color:  var(--main-bg-color);
  color: white;
  font-weight: bold;
  line-height: 2.5;
  text-align: center ;
}
.transfer-money-header-transfer {
  width: 100%;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  line-height: 2.5;
  text-align: left;
  text-indent: 50px;
}
.contact-placeholder {
  height: 50px;
}
.contact-title {
  background-color: var(--main-grey-color);
  height: 30px;
  text-indent: 20px;
  line-height: 2.5;
  font-size: 12px;
}
.single-contact {
  height: 50px;
  display: flex;
}
.contact-icon {
  padding-left: 20px;
  padding-top: 10px;
  flex-grow: 1;
}

.contact-detail {
  flex-grow: 6;
  padding-top: 15px;
  font-weight: bold;
  border-bottom: solid 1px var(--main-grey-color);
}

.contact-checkbox-show {
  flex-grow: 1;
  justify-items: center;
  display:block;
  border-bottom: solid 1px var(--main-grey-color);
}


.load-money-timestamp {
  padding-bottom: 20px;
  border-bottom: solid 1px white;
}
.load-money-balance {
  margin-top: 20px;
  color: white;
  text-align: center;
}
.load-money-balance-amount {
  margin-top: 10px;
  font-weight: bold;
  font-family: 'Kameron';
  text-align: center;
  color: white
}
.bottom-navigation {
  position:absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 60px;
  text-align: center;
  line-height: 2;
  font-size: 20px;
  background-color: var(--main-bg-color);
}
.bottom-navigation-back-home {
  flex-grow: 1;
  text-align: center;
  line-height: 3;
  font-size: 20px;
  color: white;
  background-color: var(--main-bg-color);
  border-right: solid 2px white;
  cursor: pointer;
}
.contact-continue-disable {
  flex-grow: 1;
  text-align: center;
  line-height: 3;
  font-size: 20px;
  color: white;
  background-color: var(--main-grey-color);
  cursor: pointer;
}
.contact-continue-enable {
  flex-grow: 1;
  text-align: center;
  line-height: 3;
  font-size: 20px;
  color: white;
  background-color: var(--main-bg-color);
  cursor: pointer;
}

.contact-select-style-show {
    color: white;
    background-color: var(--main-bg-color);
    border-radius: 25px;
    margin-top: 15px;
}

.contact-select-style-hide {
  color: white;
  background-color: white;
  border-radius: 25px;
  margin-top: 15px;
}

/* SendMoney styles */
.transfer-out-footer {
  position: absolute;
  height: 60px;
  bottom: 0;
  background-color: var(--main-bg-color);
  width: 100%;
  display: flex;
  
}
.transfer-out-back {
  flex-grow: 1;
  align-content: center;
  text-align: center;
  font-size: 20px;
  color: white;
  line-height: 3;
  border-right: solid 2px white;
}
.transfer-out-send {
  flex-grow: 1;
  align-content: center;
  text-align: center;
  font-size: 20px;
  line-height: 3;
  color: white;
}
.sendmoney-confirmation-block {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  min-height: 2000px;
  overflow: hidden;
}
.checkmark-image {
  display: flex;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius:50px;
}
.transfer-out-page-header {
  height: 30px;
  text-indent: 40px;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;

}

.tranfer-out-header {
  height: 100px;
  border-bottom: solid 1px var(--main-grey-color);
  margin-left: 20px;
}
.tranfer-out-header-title {
  color: #a4a4a4;
  font-size: 18px;
  margin-bottom: 10px;
}
.tranfer-out-header-content {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  background-color: #d8d8d8;
  height: 40px;
  line-height: 2;
  text-indent: 20px;
  border-radius: 25px;
}
.transfer-out-content {
  width: 100%;
  display: flex;
  height: 100px;
  margin-left: 10px;
}
.transfer-out-input {
  flex-grow: 1.5;
  border: none;
  border-color: transparent;
  margin-bottom: 30px;
}
.transfer-out-balance {
  flex-grow: 1;
  border-left: solid 1px;
  padding-left: 10px;
}
.transfer-out-content-title {
  padding-top: 10px;
  font-size: 18px;
  color: #a4a4a4;
}

.transfer-out-input .transfer-out-content-value .transfer-out-currency{
  font-size: 30px;
  font-family: 'Kameron';
  vertical-align: top;
}
.transfer-out-input .transfer-out-content-value .transfer-out-amount{
  font-size: 40px;
  font-family: 'Kameron';
}
.transfer-out-balance .transfer-out-content-value {
  padding-top: 10px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  font-family: 'Kameron';
}
.transfer-out-input {
  width: 200px;
  height: 60px;
  color: var(--main-bg-color);
}
.transfer-out-input:focus {
  outline: none !important;
}

/* transfer out confirmation */
.sendmoney-conf-content {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.confirm-icon {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  color: white;
  background-color: var(--main-bg-color);
  border-radius: 50px;
  padding: 20px;
  font-weight: bold;
  border: 4px solid white;
  text-align: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.sendmoney-conf-send-msg {
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
}
.sendmoney-conf-msg {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
}
.sendmoney-conf-amt {
  display: flex;
  justify-content: center; 
  color: white;
}
.sendmoney-conf-currency {
  font-family: 'Kameron';
  font-size: 40px;
  font-weight: bold;
  line-height: 2.5;
}

.sendmoney-conf-value {
  font-size: 80px;
  font-family: 'Kameron';
  font-weight: bold;
}
.sendmoney-conf-name
{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 70px;
  margin-top: 10px;
}
.sendmoney-conf-name-avatar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.sendmoney-conf-name-fullname {
  flex-grow: 1;
  color: white;
  display: flex;
  justify-content: left;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  text-indent: 10px;
}
.sendmoney-conf-date {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: 'Kameron';
}
.sendmoney-conf-time {
  text-align: center;
  color: white;
  font-size: 18px; 
  font-family: 'Kameron';
}
html, body {
  height: 100%;
}
.back-to-home {
  bottom: 20px;
  position: fixed;
  width: 50%;
  padding: 20px 40px 20px;
  background-color: #387743;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  margin-left: 10%;
  cursor: pointer;
}
/* */
.link-card-title {
  font-weight: bold;
  font-size: 25px;
  text-indent: 20px;
  margin-top: 10px;
}
.link-card-subtitle {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.card-buttons {
  line-height: 2.5;
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color:  var(--main-bg-color);
  height: 60px;
  text-align: center;
  color: white;
  font-size: 25px;
  display: flex;
}
.cancel-card-button {
  flex-grow: 1;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 3;
  cursor: pointer;
}
.save-card-button {
  flex-grow: 1;
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 3;
  border-left: solid 2px white;
  cursor: pointer;
}
.list-cards {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
}
/* Load Wallet */
.load-wallet-block {
  display: block;
  position: fixed;
  top: 0;
  width: 100%; 
}
.load-wallet-title {
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
  text-indent: 60px;
}
.load-wallet-subtitle {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  margin-left: 20px;
  width: 60%;
}
.load-wallet-instruction {
  margin-top: 5px;
  margin-left: 20px;
  width: 80%;
  color: #a4a4a4;
}
.load-wallet-money {
  display:flex;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
.select-card {
  color: black !important;
}
.single-transaction-item {
  display: flex;
  justify-content: center;
  font-family: 'Kameron' !important;
  border-bottom: solid 2px #eaeaea;
}
.single-transaction-item-name {
  flex-grow: 3;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-weight: bold;
}
.single-transaction-item-icon {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-left:10px;
}
.single-transaction-item-detail {
  flex-grow:  1;
  display: flex;
  flex-direction: column;
}
.single-transaction-item-positive-amount {
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #7ed321;
  font-family: 'Kameron';
  text-align: center;
}
.single-transaction-item-negative-amount {
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #febe00;
  font-family: 'Kameron';
  text-align: center;
}
.single-transaction-item-date {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #4a4a4a;
  text-align: center;
}
.single-transaction-item-time {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #4a4a4a;
  text-align: center;
}
.transaction-detail {
  overflow: scroll;
  max-height: 300px;
}
/* general purpose */
.show-item {
  display: block;
}

.hide-item {
  display: none;
}

input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
} 
